.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-div {
  height: 550px;
  width: 500px;
  display: flex;
  gap: 20px;
  color: brown;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(3, 52, 72);
}
input {
  color: whitesmoke;
  background-color: rgba(112, 7, 91, 0.653);
}
input .placeholder {
  color: black;
}
hr {
  width: 250px;
}
.button {
  color: rgb(125, 76, 16);
  background-color: rgb(10, 32, 6);
  border-radius: 3px;
  cursor: pointer;
}
